input {
    min-height: 50px;
}

li{
    display: flex;
}

.wish-title {
    margin: 25px;
}

.search-icon {
    padding: 12px 0;
}

.ui-state-highlight { 
    height: 162px; 
    background-color: #512da8; }

.wish-image {
    height: 150px;
    width: 100px;
}

.carousel-item {
    background-image: url("");
    image-resolution: 686px x 1016px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-text-stroke: .7px black;
}

#wish-list li { 
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 31.92px;}