/* #wish-list { margin: 0; padding: 0; width: 60%; }
 
#wish-list li { margin: 0 5px 5px 5px; padding: 5px; font-size: 31.92px; height: 1.5em; }

html>body #wish-list li { height: 3.5em; line-height: 3.2em; } */
  
.ui-state-highlight { height: 162px; background-color: #512da8; }

li{
    display: flex;
}

.wish-title {
    margin: 25px;
}

#wish-list li { 
    margin: 0 5px 5px 5px; 
    padding: 5px; 
    font-size: 31.92px;}

.wish-image {
    height: 150px;
    width: 100px;
}